In [1]:
import pandas as pd
import numpy as np

In [37]:
np.random.seed(101)

In [38]:
df = pd.DataFrame(np.random.randn(5, 4), index=' A B C D E'.split(), columns='W X Y Z'.split())

In [39]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [42]:
df['Z']

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: Z, dtype: float64

In [44]:
type(df['X'])

pandas.core.series.Series

In [48]:
df[['X', 'Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965
C  0.740122 -0.589001
D -0.758872  0.955057
E  1.978757  0.683509

In [55]:
df['AA'] = df['W'] + df['X']

In [56]:
df

          W         X         Y         Z         A        AA
A  2.706850  0.628133  0.907969  0.503826  3.334983  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552  2.169552

In [60]:
df.drop('AA', axis=1)

          W         X         Y         Z         A
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [61]:
df

          W         X         Y         Z         A        AA
A  2.706850  0.628133  0.907969  0.503826  3.334983  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552  2.169552

In [62]:
df.drop('AA', axis=1, inplace=True)

In [63]:
df

          W         X         Y         Z         A
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [64]:
df.loc['A', 'W']

2.706849839399938

In [65]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
A    3.334983
Name: A, dtype: float64

In [67]:
df.loc[['B', 'C'], ['X', 'Y', 'Z']]

          X         Y         Z
B -0.319318 -0.848077  0.605965
C  0.740122  0.528813 -0.589001

In [69]:
df.iloc[2:4, 2:4]

          Y         Z
C  0.528813 -0.589001
D -0.933237  0.955057